<div class="row justify-content-center">
  <div class="col-12 col-md-10">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <input class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="filterBySearch()"
          placeholder="Search by artwork title, artist name">
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      <div class="col-md-4" *ngFor="let artwork of getDisplayedArtworks()">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img [src]="getImageUrl(artwork.image_id)" id="image" alt="{{artwork.title}}" class="card-img-top" />
            <h5 class="card-title">{{artwork.title}}</h5>
            <p class="card-text">{{artwork.artist_display}}</p>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <a class="btn" id="btn-view" [routerLink]="['/artwork/view', artwork.id]" role="button">View</a>
              <div class="button-container">


                <button type="button" class="btn" id="btn-fav" (click)="addToFavorites(artwork)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512">
                    <path
                      d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                  </svg>

                </button>


              </div>
              <small class="text-muted">{{artwork.objectDate}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="getDisplayedArtworks().length == 0">No artwork found</div>
    </div>
    <mat-paginator [pageSizeOptions]="[6, 12, 18, 24]" [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
      [length]="displayArtworkData.length" (page)="handlePageEvent($event)" showFirstLastButtons="true">
    </mat-paginator>
  </div>
</div>